# Maven
target/
*.iml

# Compiled Java classes
*.class

# Configuration files
.idea/
.idea/workspace.xml
.idea/tasks.xml
.idea/dictionaries
.idea/vcs.xml
.idea/jsLibraryMappings.xml
.idea/gradle.xml
.idea/libraries
.idea/caches
.idea/codeStyles/
.idea/codeInsightDaemons/
.idea/dataSources/
.project
.vscode/

# Logs
*.log

# Package files
*.jar
*.war
*.ear

#Database file
*.db


